<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimerServlet</servlet-name>
        <servlet-class>PrimerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SegundoServlet</servlet-name>
        <servlet-class>SegundoServlet</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>isabel</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>alumno</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletFormulario1</servlet-name>
        <servlet-class>ServletFormulario1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnlace</servlet-name>
        <servlet-class>ServletEnlace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormulario1InformacionCliente</servlet-name>
        <servlet-class>ServletFormulario1InformacionCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaFormulario</servlet-name>
        <servlet-class>ServletConsultaFormulario</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletConexion2</servlet-name>
        <servlet-class>ServletConexion2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaDatos</servlet-name>
        <servlet-class>ServletConsultaDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaTablaInsertar</servlet-name>
        <servlet-class>ServletConsultaTablaInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaTablaEditar</servlet-name>
        <servlet-class>ServletConsultaTablaEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaTablaModificar</servlet-name>
        <servlet-class>ServletConsultaTablaModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaTablaModificar1</servlet-name>
        <servlet-class>ServletConsultaTablaModificar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaTablaEliminar</servlet-name>
        <servlet-class>ServletConsultaTablaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaTablaInsertar1</servlet-name>
        <servlet-class>ServletConsultaTablaInsertar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaExportar</servlet-name>
        <servlet-class>ServletConsultaExportar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimerServlet</servlet-name>
        <url-pattern>/PrimerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SegundoServlet</servlet-name>
        <url-pattern>/SegundoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormulario1</servlet-name>
        <url-pattern>/ServletFormulario1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnlace</servlet-name>
        <url-pattern>/ServletEnlace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormulario1InformacionCliente</servlet-name>
        <url-pattern>/ServletFormulario1InformacionCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaFormulario</servlet-name>
        <url-pattern>/ServletConsultaFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConexion2</servlet-name>
        <url-pattern>/ServletConexion2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaDatos</servlet-name>
        <url-pattern>/ServletConsultaDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaTablaInsertar</servlet-name>
        <url-pattern>/ServletConsultaTablaInsertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaTablaEditar</servlet-name>
        <url-pattern>/ServletConsultaTablaEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaTablaModificar</servlet-name>
        <url-pattern>/ServletConsultaTablaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaTablaModificar1</servlet-name>
        <url-pattern>/ServletConsultaTablaModificar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaTablaEliminar</servlet-name>
        <url-pattern>/ServletConsultaTablaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaTablaInsertar1</servlet-name>
        <url-pattern>/ServletConsultaTablaInsertar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaExportar</servlet-name>
        <url-pattern>/ServletConsultaExportar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
